/****************/
/* JOUW STYLING */
/****************/


/* MAIN */
main{
	background-color: var(--color-background);
	overflow: hidden;
}

.schudden{
	animation:schudden 0.5s;
	animation-iteration-count:14;
}
@keyframes schudden {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* eerste zin */
/* https://www.w3schools.com/cssref/pr_text_text-align.php */
main h1{
	text-align: left;
	margin-top: 3em;
	font-size: 14px;
	color: var(--color-brown);
	font-family:'bold';
	padding:2.5em 1.5em 0em ;
	padding-left: 1.5em;

}
/* tweede zin */
main h2 {
	text-align: left;
	font-size: 32px;
	color: var(--color-brown);
	font-family: 'bold';
	margin-left:.5em;
}
/* eind eerste twee zinnen */

main h3{
	color: var(--color-brown);
}
/* EIND 1E TWEE ZINNEN */

/* door > te gebruiken spreek ik alleen het directe eerste kind in main aan. hierdoor worden alle andere ul niet aangesproken (dit gebeurde zonder > wel) */
/* eerste button in main */
main>ul:first-of-type{
	list-style: none;
	padding: 0;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/* image in eerste button */
main>ul:first-of-type li img{
	width: 2em;
}

main>ul:first-of-type li{
	border:0.125rem solid var(--color-brown);
	padding: 1em;
	border-radius: 999rem;
	margin-bottom: 2em;
	text-align: center;
	font-size: 16px;
	display: flex;
	background-color: var(--color-white);
	justify-content: center;
}

main>ul:first-of-type li:nth-of-type(1):active{
	box-shadow:10px 5px var(--color-brown);
}
main>ul:first-of-type li:nth-of-type(2):active{
	box-shadow:10px 5px var(--color-brown);
}


main>ul:first-of-type li a{
	text-decoration: none;
	color: var(--color-brown);
	font-family: 'bold';
	font-weight: 700;
	font-size: 20px;
	line-height: 1.25;
	display: block; /* zo is het hele gebied klikbaar */
	margin-left: 1em;
	margin-right: 1em;
}
/* eind buttons in main */

/* https://www.w3schools.com/howto/howto_css_rounded_images.asp */
/* eerste image in main */
main>img:first-of-type{
	border-radius: 50%;
	max-width: 100%;
	display: block;
	margin: auto;
	transform: translateX(10%);
	
}
/* eind eerste image in main */

/* Gekleurde buttons met img en tekst: */
main section:nth-of-type(1) li:nth-of-type(1) h2,
main section:nth-of-type(1) li:nth-of-type(1) h3,
main section:nth-of-type(1) li:nth-of-type(1) a{
	color:var(--color-white);
}
main section:nth-of-type(1) li:nth-of-type(2) h2,
main section:nth-of-type(1) li:nth-of-type(3) h2,
main section:nth-of-type(1) li:nth-of-type(2) h3,
main section:nth-of-type(1) li:nth-of-type(3) h3,
main section:nth-of-type(1) li:nth-of-type(3) a,
main section:nth-of-type(1) li:nth-of-type(2) a{
	color:var(--color-text);
}

main section:nth-of-type(1) li:nth-of-type(1),
main section:nth-of-type(1) li:nth-of-type(2),
main section:nth-of-type(1) li:nth-of-type(3) {
	width: 100%;
	border-radius: 1em;
	margin-top: 5em;
	margin-bottom: 5em;
	display: flex;
	flex-direction: column;
	padding: 1.5em;
}

main section:nth-of-type(1) li:nth-of-type(1) a,
main section:nth-of-type(1) li:nth-of-type(2) a,
main section:nth-of-type(1) li:nth-of-type(3) a{
	 text-decoration: underline;
}

main section:nth-of-type(1) li img {
	width: 100%;
	order: -1;
}

main section:nth-of-type(1) ul li {
	position: relative;
}

main section:nth-of-type(1) li {
	width: 100%;
	border-radius: 1em;
	margin-top: 5em;
	margin-bottom: 5em;
	display: flex;
	flex-direction: column;
	padding: 1.5em;
}

main section:nth-of-type(1) li:nth-of-type(1) {
	background-color: var(--color-orange);
	margin-right: -3em;
	margin-left: -2.5em;
}

main section:nth-of-type(1) li:nth-of-type(2) {
	background-color: var(--color-yellow);
}

main section:nth-of-type(1) li:nth-of-type(3) {
	background-color: var(--color-lime);
	margin-right: -3em;
	margin-left: -2.5em;
}

main section:nth-of-type(1) ul li img:nth-of-type(1) {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	transform: translate(-25%, -50%);
	z-index: 1;
}

main section:nth-of-type(1) li:nth-of-type(4) {
	background-color: var(--color-red);
	margin-right: -3em;
}

main section:nth-of-type(1) li:nth-of-type(4) a{
	border-style:solid;
	border-color:var(--color-white);
	border-radius:1em;
	padding:.20em;
}

main section:nth-of-type(1) li:nth-of-type(4) a:active{
	box-shadow:10px 5px var(--color-brown);
}
main section:nth-of-type(1) li:nth-of-type(4) a:active{
	box-shadow:10px 5px var(--color-brown);
}



main section:nth-of-type(1) li:nth-of-type(4) h3 {
	color: var(--color-white);
}
main section:nth-of-type(1) li:nth-of-type(4) h2 {
	color: var(--color-white);
}
main section:nth-of-type(1) li:nth-of-type(4) a {
	color: var(--color-white);
}


main section:first-of-type ul {
	justify-content: space-between;
}

main section:nth-of-type(1) li h2, 
main section:first-of-type li h3, 
main section:first-of-type li a {
	text-align: center;
	text-decoration: none;
}

main section:first-of-type li a {
	color: var(--color-brown);
	font-family: 'regular';
	font-weight: bold;
	padding: 0;
}

main section:nth-of-type(1) h2 {
	font-family: 'regular';
	font-weight: bold;
	font-size: 17px;
	padding: 0;
}

main section:nth-of-type(1) h3 {
	font-family: 'bold';
	font-weight: 700;
	line-height: 1.28571;
	padding: 0;
}
/* eind Gekleurde buttons met img en tekst: */

/* begin bewegend element */
/* hoe maak ik hier een bewegend element van en hoe laat ik het overeen komen met het origineel? */
main > ul:nth-of-type(2),
main > ul:nth-of-type(3){
	display:flex;
	justify-content: space-between;
	color: var(--color-brown);
	font-family: 'wideblck';
	font-size: 20px;
	margin-left: -2.5em;
	align-items:center;
}

ul:nth-of-type(2) li:nth-child(2) p,
ul:nth-of-type(3) li:nth-child(2) p{
	color:var(--color-green);
	font-size:30px;
	padding:.5em;
}
ul:nth-of-type(2) li:nth-child(4) p,
ul:nth-of-type(3) li:nth-child(4) p{
	color:var(--color-brown);
	font-size:30px;
	padding:.5em;
}
ul:nth-of-type(2) li:nth-child(6) p,
ul:nth-of-type(3) li:nth-child(6) p{
	color:var(--color-yellow);
	font-size:30px;
    padding:.5em;
}
ul:nth-of-type(2) li:nth-child(8) p,
ul:nth-of-type(3) li:nth-child(8) p{
  color: var(--color-blue);
  font-size:30px;
  padding:.5em;
}

/* eind bewegend element */


/* 2E SECTION IN DE MAIN, gele boog over ons */

/* BUTTON DECORATIE */
main section:nth-of-type(2) a {
	text-decoration: none;   /* zo krijg je geen streepje onder de link */
	display: block; /* zo is het hele gebied klikbaar */
	background-color: var(--color-white);
	padding: 1em;
	border-radius: 999rem;
	text-align: center;
	font-size: 1rem;
	color: var(--color-brown);
	font-weight: bold;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

main section:nth-of-type(2) a:active{
	box-shadow:10px 5px var(--color-brown);
}
main section:nth-of-type(2) a:active{
	box-shadow:10px 5px var(--color-brown);
}

/* eind button decoratie */

main section:nth-of-type(2){
	text-align: center;
	position: relative;
	left: 0;
	right: 0;
	padding-top: 2em;
}

main section:nth-of-type(2){
	display: grid;
	background: var(--color-yellow);
	
	background-image:radial-gradient(
		closest-side circle at center 30em,
		var(--color-yellow)30em,
		var(--color-background) 30em
	)
}


main section:nth-of-type(2) h2{
	text-align: center;
	font-size: 14px;
}

main section:nth-of-type(2) p{
	font-family: 'fontsans';
	color: var(--color-brown);
	text-align: center;
	font-size: 25px;
}

main section:nth-of-type(2) img{
	display: flex;
	justify-items: center;
	width: 100%;

}
/* eind 2E SECTION MAIN gele boog over ons */

/* 3E SECTION MAIN happy family met boog en caroussel */
main section:nth-of-type(3)>p:nth-of-type(1){
	font-family:'regular';
}

main section:nth-of-type(3) a{
	font-family:'bold';
	color: var(--color-brown);
	text-decoration: underline;
	text-decoration-color: var(--color-yellow);
	text-underline-offset: .25em;
}


main section:nth-of-type(3){
background-color: var(--color-white);
padding-top: 3em;
padding-bottom: 5em;
}


main section:nth-of-type(3) > img:nth-of-type(1){
  width: 88%;
  height: auto;
  border-top-left-radius: 20em;
  border-top-right-radius: 20em;
  border: 0.20rem solid var(--color-blue);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* eind happy family met boog */

/* scrollbare klikbare dingetjes */
main section:nth-of-type(3) ul{
	overflow: auto;
	white-space: nowrap;
}

main section:nth-of-type(3) ul li{
	display: inline-block;
	margin-right:1em;
}

main section:nth-of-type(3) ::-webkit-scrollbar{
	display: none;
}


main section:nth-of-type(3) ul > li img{
    z-index: 1;
	width: 10em;
}

main section:nth-of-type(3) ul > li:nth-of-type(1){
	background-color:var(--color-pink);
	border-radius: 50%;
	width: 9em;
	height: 9em;
}

main section:nth-of-type(3) ul > li:nth-of-type(2){
	background-color: var(--color-blue);
	border-radius: 50%;
	width: 9em;
	height: 9em;
}

main section:nth-of-type(3) ul > li:nth-of-type(3){
	background-color:var(--color-green);
	border-radius: 50%;
	width: 9em;
	height: 9em;
}

main section:nth-of-type(3) ul > li:nth-of-type(4){
	background-color:var(--color-yellow);
	border-radius: 50%;
	width: 9em;
	height: 9em;
}

main section:nth-of-type(3) ul > li:nth-of-type(5){
	background-color:var(--color-pink);
	border-radius: 50%;
	width: 9em;
	height: 9em;
}

main section:nth-of-type(3) ul > li img{
	height:10em;
	width:10em;
	object-fit:cover;
}

main section:nth-of-type(3) ul > li p{
	padding-left:2em;
	font-family:'cnbold';
}
/* eind scrollbare klikbare dingetjes */
/* eind 3E SECTION MAIN happy family met boog en caroussel */


/* section 4 */
main section:nth-of-type(4) h2{
	color:var(--color-text);
}
main section:nth-of-type(4){
	background-color: var(--color-white);
	margin-top:-2em;
	padding-top:1em;
	margin-bottom:-2em;
	padding-bottom:1em;
}
main section:nth-of-type(4) h2,
main section:nth-of-type(4) p:nth-of-type(1){
	text-align:center;
}
main section:nth-of-type(4) p:nth-of-type(1){
	font-family:'semilight';
}

main section:nth-of-type(4) p:nth-of-type(2){
	font-size:2em;
	align-self:center;
	position:relative;
	left:3em;
	font-family:'cnbold';
}

main section:nth-of-type(3) ::-webkit-scrollbar{
	display: none;
}

main section:nth-of-type(4) ::-webkit-scrollbar{
	display: none;
}

main section:nth-of-type(4) h1 h2{
	text-align: left;
	font-size: 32px;
	color: var(--color-brown);
	font-family: 'bold';
	padding-left:1.5em ;
}

main section:nth-of-type(4) ul{
	overflow: auto;white-space:nowrap;
}

main section:nth-of-type(4) ul li{
	display: inline-block;
}

main section:nth-of-type(4) ul li:nth-of-type(1) img {
	position:relative;
	bottom:9em;
}
main section:nth-of-type(4) ul li:nth-of-type(2) img{
	background-color:var(--color-text);
	position:relative;
	width:50%;
	border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    border: 0.20rem solid var(--color-orange);
}

main section:nth-of-type(4) ul li:nth-of-type(3) img{
	left:-5em;
	position:relative;
	bottom:4em;
	width:40%;
	border-radius:50%;
    border: 0.20rem solid var(--color-orange);
}
main section:nth-of-type(4) ul li:nth-of-type(4) img{
	left:-15em;
	position:relative;
	bottom:1em;
}
main section:nth-of-type(4) ul li:nth-of-type(5) img{
	position:relative;
	width:40%;
	left:-15em;
	right:1em;
	border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    border: 0.20rem solid var(--color-orange);
}
main section:nth-of-type(4) ul li:nth-of-type(6) img{
	position:relative;
	width:80%;
	bottom:6em;
	left:-21em;
}
main section:nth-of-type(4) ul li:nth-of-type(7) img{
	position:relative;
	width:80%;
	bottom:1em;
	left:-21em;
	border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    border: 0.20rem solid var(--color-orange);
}
main section:nth-of-type(4) ul li:nth-of-type(8) img{
	position:relative;
	width:80%;
	bottom:1em;
	left:-21em;
}
main section:nth-of-type(5) h2,
main section:nth-of-type(5) p{
	text-align:center;
}
main section:nth-of-type(5) p,
main section:nth-of-type(5) h3{
	font-family:'semilight';
	color:var(--color-text);
}

main section:nth-of-type(5) p:nth-of-type(1){
	font-family:'semilight';
	text-align:center;
}
main section:nth-of-type(5) h2{
	text-align:center;
	font-size:2em;
}
main section:nth-of-type(5) h3{
	font-family:'semilight';
	text-align:center;
	font-size:1em;
	color:var(--color-text);
}

main section:nth-of-type(5){
	background-color:white;
	padding:5em 0em 5em 0em ;
}

main section:nth-of-type(5) img{
	height:25em;
}

main section:nth-of-type(5) ul{
	overflow: auto;
	white-space: nowrap;
	scroll-snap-type:x mandatory;
}

main section:nth-of-type(5) ul li{
	display: inline-block;
	margin-right:1em;
	justify-content:space-between;
}

main section:nth-of-type(5) ul li p,h3{
	display:flex;
	justify-content:center;
}
