
@font-face {
	font-family:'fontsans';
	src: url("../fonts/AllTogetherSans-Regular.woff2");
	font-weight: 400;
  }

  @font-face {
	font-family:'header';
	src: url("../fonts/AllTogetherSerif-WideBlk.woff2");
	font-weight: 400;
  }

@font-face {
	font-family:'regular';
	src: url("../fonts/AllTogetherSans-Regular.woff2");
	font-weight: 400;
  }

  @font-face {
	font-family:'wideblck';
	src: url("../fonts/AllTogetherSerif-WideBlk.woff2");
  }

  @font-face{
	font-family:'bold';
	src:url("../fonts/AllTogetherSans-Bold.woff2");
  }

  @font-face{
	font-family:'regular';
	src:url("../fonts/AllTogetherSans-Regular.woff2");
  }

  @font-face{
	font-family:'semilight';
	src:url("../fonts/AllTogetherSans-SemiLight.woff2");
  }


  @font-face{
	font-family:'cnbold';
	src:url("../fonts/AllTogetherSerif-CnBold.woff2");
  }


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

body{
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#d4ebff;
	--color-darkgrey:#6d6e70;
	--color-lightgrey:#dbdee3;
	--color-white:#FFFFFF;
	--color-brown:#5b1f06;
	--color-yellow:#ffd200;
	--color-lightlightgrey:#f3f6fb;
	--color-blue:#0e74e2;
	--color-pink:#ffadbf;
	--color-red:#d70100;
	--color-green:#73cf11;
	--color-lilac:#d7a1ff;
	--color-lime:#dce84f;
	--color-orange:#FFA500;
}
ul{
	list-style: none;
}
a{
	font-family:'cnbold';
	color:var(--color-brown);
}

/****************/
/* JOUW STYLING */
/****************/
header {
	width: 100%;
	background-color:var(--color-white);
  }

  header button:nth-of-type(1) {
	background-color: transparent;
	border: none;
	z-index: 1000;
	position: fixed;
  }


  /* HIER KLOTEN MET GRID  */
  /* fr gebruik je bij grid, colums horizontaal, row verticaal */
 /* HIER KLOTEN MET GRID  */
  /* fr gebruik je bij grid, colums horizontaal, row verticaal */
  header{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	/* grid-template-areas:
	"navigatie logo icons"
	"ontwerp witruimte mix"; */

	}
  header nav {
 grid-column:span 1
  }
 header > img{
	 justify-self:center;
	 align-self:center;
	 grid-column:span 4;
 }


 header > section ul:nth-of-type(1) {
	 display:flex;
	 grid-column:span 1;
	 /* als ie gek doet haal ul nth of type weg */
 }

header > nav{
	grid-column:1;
}

header>ul:nth-of-type(1){
	display:flex;
	grid-column:span 3;
}
header>ul:nth-of-type(2){
	display:flex;
	grid-column:span 3;
}
/*DIT ZIJN DE LAATSTE TWEE IMAGES EN LINKJES IN DE HEADER */
 header > ul:nth-of-type(1) li:nth-of-type(1) img {
	 grid-column: span 2;
	/* background-color: #0e74e2; */
 }
header > ul:nth-of-type(1) li:nth-of-type(2) a{
	text-decoration: none;
}
header > ul:nth-of-type(2) li:nth-of-type(1) img{
	grid-column: span 2;
}

 header > ul:nth-of-type(2) li:nth-of-type(2) a{
	text-decoration:none;
 }

 header > ul:nth-of-type(2) li:nth-of-type(2){
grid-column:span 5;
 }

 
  /* ONZICHTBAAR MENU IN DE NAV */

  nav ul:nth-of-type(1){
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	
}

nav ul:nth-of-type(1) li:nth-of-type(2) img{
	width:30%;
}
nav ul:nth-of-type(1) li:nth-of-type(3) img{
	width:30%;
}

nav ul:nth-of-type(1) li:nth-of-type(2){
	display:flex;
	justify-content:center;
	grid-column:span 3;
}

nav ul:nth-of-type(1) li:nth-of-type(3){
	display:flex;
	justify-content:center;
}
  header nav section:first-of-type {
	position:fixed;
	inset:0;
	padding-top:2em;
	width: 80%;
	transition: transform 0.3s ease;
	translate:-100% 0;
	transition:.5s;
	background-color:var(--color-white);
	z-index: 300;
  }

  header nav section:nth-of-type(1) img{
	width: 2.625em;
  }

  header nav section:nth-of-type(1) ul li:nth-of-type(1) img{
	width: 2em;
  }

  /* open is javascript */
  header nav  section:nth-of-type(1).open {
	translate:0 0;
	z-index: 10000;
	padding: 0;

  }
  
  header nav section:nth-of-type(2) {
	order: 1;
}

header > ul img {
	width: 2em;
}

header ul:nth-of-type(3){
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-radius: 5%;
}

  header ul:nth-of-type(3) li {
	background-color: var(--color-lightlightgrey);
	border-radius:  0.3125em;
	padding: 0.625em;
	margin: 0.3125em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 1;
	padding: 1em;
	margin: 2em;
  }
  
  header ul:nth-of-type(3) li a {
	color: white;
	text-decoration: none;
	color: var(--color-brown);
  }
  
  header ul:nth-of-type(3) li img {
	display: inline-block;
	margin-bottom: 1em;
  }
nav ul:nth-of-type(2) a{
	text-decoration:none;
	color:brown;
}

nav ul:nth-of-type(2) li:nth-of-type(1) a{
	margin-right:11em;
}
nav ul:nth-of-type(2) li:nth-of-type(2) a{
	margin-right:10em;
}
nav ul:nth-of-type(2) li:nth-of-type(4) a{
	margin-right:9em;
}

nav ul:nth-of-type(2) li:nth-of-type(3) a{
	margin-right:12em;
}

nav ul:nth-of-type(4){
	display:grid;
	grid-template-columns:1fr 1fr;
}
nav ul:nth-of-type(4) li:nth-of-type(2) img{
	width:2em;
}
nav ul:nth-of-type(4) li:nth-of-type(1) img{
 width:2em;
}


  header nav section ul:nth-of-type(4) li {
	padding: 0.625em;
	display: inline-block; 
  }
  
  header nav section ul:nth-of-type(4) li a {
	text-decoration: none;
	color: var(--color-brown);
	padding: 0.625em;
	display: block;
  }
  
  header nav section ul:nth-of-type(4) li img {
	margin-right: 0.5em;
  }


  header ul:nth-of-type(5){
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-radius: 5%;
}
header ul:nth-of-type(5) li:nth-of-type(3) img{
	border-radius: 50%;
}


/* FOOTER */
footer h1,
footer h2{
	font-family:'bold';
	color:var(--color-brown);
	font-size:1em;
}
footer button:nth-of-type(1){
	background-color:var(--color-yellow);
	border-color:var(--color-yellow);
	border-radius:999rem;
	width:70%;
	display: block;     
    margin: 0 auto;     
}

footer button:nth-of-type(1){
	font-family:cnbold;
	color:var(--color-brown);
}

footer button:nth-of-type(2){
	background-color:var(--color-text);
	border-color:var(--color-red);
	border-radius:999rem;
	width:70%;
}

footer button:nth-of-type(2) p{
	color:var(--color-red);
}

footer{
background-color: var(--color-lightlightgrey);
overflow: hidden;
}

footer> p{
	font-family:'semilight';
	font-size:.8em;
}

footer> img:nth-of-type(1){
	width: 100%;
	background-color: var(--color-yellow);
	padding: 3em;
}

footer > ul:nth-of-type(1){
display: inline grid;
grid-template-columns: 24% 1fr;
grid-template-rows:1fr 1fr ;
gap: 1em;
}

footer > ul:nth-of-type(1) li:nth-of-type(1) {
    grid-column: 1; /* Top-left */
    grid-row: 1;
}

footer > ul:nth-of-type(1) li:nth-of-type(2) {
    grid-column: 1; /* Bottom-left */
    grid-row: 2;
}
footer > ul:nth-of-type(1) li:nth-of-type(3) h3,
footer > ul:nth-of-type(1) li:nth-of-type(3) p,
footer > ul:nth-of-type(1) li:nth-of-type(4) h3,
footer > ul:nth-of-type(1) li:nth-of-type(4) p {
display: flex;
text-align: left;
flex-direction:column;
}

footer > ul:nth-of-type(1) li:nth-of-type(3) h3,
footer > ul:nth-of-type(1) li:nth-of-type(4) h3{
	font-family:'bold';
	font-size:1em;
}

footer > ul:nth-of-type(1) li:nth-of-type(3) p,
footer > ul:nth-of-type(1) li:nth-of-type(4) p{
	font-family:regular;
	font-size:0.7em;
}

footer > ul:nth-of-type(1) li:nth-of-type(3) p {
    grid-column: 2; /* Top-right text */
    grid-row: 1;
}

footer > ul:nth-of-type(1) li:nth-of-type(4) p {
    grid-column: 2; /* Bottom-right text */
    grid-row: 2;
}

/* Styling images */
footer ul img {
    width: 6.25em;
    height: auto;
}

/* over ons linkjes etc etc tot over ons */
/* HOE KRIJG IK DEZE UITKLAPBAAR ZOALS EHT ORIGINEEL */

footer > ul:nth-of-type(2) a{
text-decoration: none;
color: var(--color-text);
font-family:semilight;
font-size:.8em;
}


/* socials */
footer > ul:nth-of-type(3) img{
    display:flex;
}

footer > ul:nth-of-type(3) img{
    height:2em
}
footer > ul:nth-of-type(3) p {
    display:flex;
    justify-content: left;
	color:var(--color-brown);
	font-family:'bold';
}

footer > ul:nth-of-type(3) li{
    display: flex;
    align-items: end;
}


footer > ul:nth-of-type(4) li img{
	height:1em;
}
footer > ul:nth-of-type(2){
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
	padding-bottom:1em;
}
footer > ul:nth-of-type(2) img{
	width:2em;
}
footer ul:nth-of-type(2) > li:nth-of-type(1){
	align-self:center;
	justify-content:left;
	grid-column:span 3;
}
footer ul:nth-of-type(2) > li:nth-of-type(2){
	align-self:center;
	justify-self:center;
	grid-column:span 1;
}
footer ul:nth-of-type(2) > li:nth-of-type(3){
	align-self:center;
	justify-self:left;
	grid-column:span 4;
}
footer ul:nth-of-type(2) > li:nth-of-type(4){
	align-self:center;
	justify-self:left;
	grid-column:span 3;
}
footer ul:nth-of-type(2) > li:nth-of-type(5){
	align-self:center;
	justify-self:center;
	grid-column:span 1;
}
footer ul:nth-of-type(2) > li:nth-of-type(6){
	align-self:center;
	justify-self:left;
	grid-column:span 4;
}

footer form input {
  border: none;
  border-bottom: 1px solid grey; 
  background: transparent;       
  outline: none;                 
  color: inherit;               
  padding: 4px 0;
  width: 90%;                   
  font: inherit;
  align-items:center;
}
footer form{
	font-family:'semilight';
	color:var(--color-darkgrey);
}

footer ul:nth-of-type(4) a{
	font-family:'semilight';
	font-size:.8em;
	color:var(--color-text);
}


footer>img:nth-of-type(2){
	width:6em;
}

#info1{
	display: none;
}
#info2{
	display: none;
}
