
@font-face {
	font-family: "fontsans";
	src: url("../font/AllTogetherSans-Regular.woff2");
	font-weight: 400;
  }


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-titels:brown;
}


/****************/
/* JOUW STYLING */
/****************/
/* HEADER */
header {
	width: 100%;
}
/* HEADER EIND */

/* HEADER UL */
header > ul {
	display: grid;
	grid-template-columns: 50% 50%;
}

header > ul img {
	width: 2em;
}

/* HEADER UL EIND */
/* NAV */
header nav {
	display: grid;
	grid-template-columns: 33% 33% 33%;

}

header nav section:first-of-type {
	position:fixed;
	inset:0;
	padding-top:2em;
	background-color:lightyellow;
	translate:-100% 0;
	transition:.5s;
}

header nav section:first-of-type.open {
	translate:0 0;
}

header nav section:nth-of-type(2) {
	order: 1;
}
/* NAV EIND */

/* MAIN */
main section:first-of-type li {
	width: 95%;

	background-color: yellow;

	margin-top: 1em;

	display: flex;
	flex-direction: column;
}

main section:first-of-type li h2, main section:first-of-type li h3, main section:first-of-type li a {
	text-align: center;
}

main section:first-of-type li img {
	width: 100%;

	order: -1;
}

/* MAIN EIND */
/* HEADER EIND */
/*  */












/* 3E EIND */
/* 1E SECTION EIND  */


  /* bewegende ul li */

  /* bewegende ul li eind*/

  main section li img {
	width: 100%;
  }
 /* display inline block(?) */

 main section:nth-of-type(2){
	background-color: yellow;
 }

 /* DEZE WERKT NIET */
 /* main section :nth-of-type(3){
	background-color: gray;
 } */

 /* DEZE WERKT NIET */
 /* main section :nth-of-type(4){
	background-color: white;
 } */