/****************/
/* JOUW STYLING */
/****************/

main h1{
	font-family:'semilight';
	color:var(--color-text);
	font-size:.8em;
}
main h2{
	font-family:'cnbold';
	color:var(--color-brown);
	font-size: 2em;
}
main h2:nth-of-type(2){
	font-size: 1em;
}

main a{
	font-family:'bold';
	color:var(--color-brown);
}

main p{
	font-family:'semilight';
	font-size:.8em;
}

main > img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

main ul:nth-of-type(2) img {
  width: 2em;
}

main ul:nth-of-type(2){
	display:grid;
	grid-template-columns:2.5em 2.5em 2.5em;
	justify-content:left;
	justify-items:center;
	align-items:center;
}

section:nth-of-type(3){
    background-color: var(--color-yellow);
}

main ul:nth-of-type(3){
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:var(--color-brown);
}

main ul:nth-of-type(3) h2{
	font-size:1em;
}

main ul:nth-of-type(3) li:nth-of-type(1){
	justify-self:left;
	 align-self:center;
	 grid-column:span 3;
}
main ul:nth-of-type(3) li:nth-of-type(2){
	width:30%;
}
main ul:nth-of-type(3) li:nth-of-type(3){
	justify-self:left;
	 align-self:center;
	 grid-column:span 3;
}

main ul:nth-of-type(3) li:nth-of-type(4){
	justify-self:left;
	 align-self:center;
	 grid-column:span 3;
}
main ul:nth-of-type(3) li:nth-of-type(5){
	width:30%;
	justify-self:left;
	 align-self:center;
}
main ul:nth-of-type(3) li:nth-of-type(6){
	justify-self:left;
	 align-self:center;
	 grid-column:span 3;
}

main ul:nth-of-type(3) li:nth-of-type(2){
	justify-self:left;
	 align-self:center;
}

main img:nth-of-type(2),
main img:nth-of-type(3){
	width:5%;
}

main ul:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding-left:1em;
}

main ul:nth-of-type(1) button {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: none;
}


main ul:nth-of-type(1) li:nth-of-type(1) button{
	background-color:var(--color-red);
}
main ul:nth-of-type(1) li:nth-of-type(2) button{
	background-color:var(--color-yellow);
}
main ul:nth-of-type(1) li:nth-of-type(3) button{
	background-color:var(--color-green);
}
main ul:nth-of-type(1) li:nth-of-type(4) button{
	background-color:var(--color-orange);
}
main ul:nth-of-type(1) li:nth-of-type(5) button{
	background-color:var(--color-brown);
}
main ul:nth-of-type(1) li:nth-of-type(6) button{
	background-color:var(--color-blue);
}

main button:nth-of-type(1) {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
  border:none;
  border-radius: 999rem;
  width: 90%;
  height: 3em;
  font-family: 'bold';
  color: var(--color-brown);
  margin: 3em auto 0 auto; 
  display: block;          
}

main form input {
  border: none;
  border-bottom: 1px solid var(--color-darkgrey); 
  background: transparent;       
  outline: none;                              
  width: 90%;                   
}

main form{
	font-family:'cnbold';
	color:var(--color-brown);
	font-size:.9em;
}

main button:nth-of-type(1):active{
	box-shadow:10px 5px var(--color-brown);
}


#omschrijving{
	display: none;
}
#productdetails{
	display: none;
}


main section:nth-of-type(1) h2,
main section:nth-of-type(1) p{
	text-align:center;
}
main section:nth-of-type(1) p,
main section:nth-of-type(1) h3{
	font-family:'semilight';
	color:var(--color-text);
}

main section:nth-of-type(1) p:nth-of-type(1){
	font-family:'semilight';
	text-align:center;
}
main section:nth-of-type(1) h2{
	text-align:center;
	font-size:2em;
}
main section:nth-of-type(1) h3{
	font-family:'semilight';
	text-align:center;
	font-size:1em;
	color:var(--color-text);
}

main h3{
	font-family:semilight;
	font-size:.9em;
}

main section:nth-of-type(1) img{
	height:25em;
}

main section:nth-of-type(1) ul{
	overflow: auto;
	white-space: nowrap;
	scroll-snap-type:x mandatory;
	padding: 2em 2em 4em;
}

main section:nth-of-type(1) ul li{
	display: inline-block;
	margin-right:1em;
	justify-content:space-between;
}

main section:nth-of-type(1) p,
main section:nth-of-type(1) h3{
	display:flex;
	justify-content:center;
}

main section:nth-of-type(1) ul img:nth-of-type(1){
	background-color:var(--color-white);
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

main section:nth-of-type(1){
	background-color:var(--color-lightlightgrey);
}



