
@font-face {
	font-family: "fontsans";
	src: url("../font/AllTogetherSans-Regular.woff2");
	font-weight: 400;
  }

ul{
	list-style: none;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/


/****************/
/* HEADER */
/****************/
/* HAMBURGERMENU */
/* BUTTON HAMBURGER MENU */
header{
	display: flex;
	justify-content: center;
}
main section ul {
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: "fontsans";
}

header button {
	order:-1;
	position:relative;
	z-index:1;
	border: none; 
    background: none; 
    padding: 0; 
    position: absolute;
	top: 0;  /* verplaatst naar boven */
	left: 0;
	margin: 3em;
}

header nav.open,
header nav:focus-within {
	translate:0 0;
}

header button img{
	width: 50px;
	height: 50px;
}

button :focus{
	outline: none;
}
/* EIND BUTTON HAMBURGERMENU */

header nav {
	position:fixed;
	inset:0;
	padding-top:2em;
	background-color:lightyellow;
	
	translate:-100% 0;
	transition:.5s;
}
/* EIND HAMBURGERMENU */
/* BEGIN 2E MENU IN HEADER */
section :nth-of-type(2) ul {
	display: flex;
	gap:20em;
	justify-content: space-between;
}


header img{
width:80px;
height: auto;
}


/* EIND 2E MENU IN HEADER */

/* EIND HEADER */


/* 2e section, bruiloft traktatie disney */
/* 1e li in 2e ul in main */
main section ul li:nth-child(1) {
	background-color: lightpink;
  }
  main section ul li img{
	width: 500px;
  }
  
  /* 2e li in 2e ul in main  */
  main section ul li:nth-child(2) {
	background-color: blue;
  }
  
  /* 3e li in 2e ul in main  */
  main section ul li:nth-child(3) {
	background-color: red;
  }


  /* section bruiloft,cadeau,disney */

  /* section bruiloft,cadeau,disney eind*/

  /* bewegende ul li */

  /* bewegende ul li eind*/

 